body{
    background: black;
    color: #00ff00;
}
div{
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    margin-top: 100px;
    font-size: 45px;
    font-family: "Sofia", sans-serif;
}